<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css">
	<title>Six-Year-Old Simulator</title>
</head>
<body ng-app="myApp">

	<div class="container" ng-controller="myController as main">
		
		<div class="row">
			
			<h1>Six-Year Old Simulator</h1>
			
			<div id="btnRow">
				<button class="btn btn-primary" ng-click="main.addWords()">Words</button>
				<button class="btn btn-info" ng-click="main.addWordsWithDecoration()">Words with decoration</button>
				<button class="btn btn-success" ng-click="main.addMoreWords()">More words</button>
				<button class="btn btn-danger" ng-click="main.addMoreWordsWithDecoration()">More words with decoration</button>
			</div>
			
			<p ng-repeat="item in main.list track by $index" ng-class="item.style">{{item.word}}</p>

		</div>

	</div>

	<script src="scripts/angular.min.js"></script>
	<script src="scripts/app.js"></script>	
</body>
</html>