.container {
  width: 51%;
}
h1 {
  text-align: center;
}
#btnRow {
  margin-bottom: 10px;
}
p {
  display: inline;
}
.style1 {
  color: #f00;
  font-weight: bold;
  font-family: serif;
}
.style2 {
  color: #fff;
  background-color: #00f;
  font-style: italic;
  padding: 4px;
}
.style3 {
  color: #daa520;
  text-decoration: underline;
}
.style4 {
  color: #8a2be2;
  font-size: 22px;
}
.style5 {
  color: #7fff00;
  background-color: #006400;
  padding: 4px;
}
