/* general styles */
body
	background-color #00c5cd
	padding 20px 0px
	margin 0
	font-family Geneva
#simulator
	background-color white
	width 80%
	height 100%
	margin 0 auto
	padding 30px
	border 5px solid #088da5
	border-radius 20px
h1
	font-family 'Indie Flower', cursive
	text-align center
	font-size 3em
	
/* button stylings */	
button
	padding 15px
	width 24%
	border-radius 10px
	font-size 0.7em
	border none
	background-color #088da5
	color white
	margin-bottom 20px
button:hover
	background-color #00c5cd
	cursor pointer

/* classes for styling phrases */
.styleWords1
	color Gold
	font-weight bold
	font-family 'Indie Flower', cursive
	font-size 1.5em
.styleWords2
	color FireBrick
	font-weight bold
	font-family 'Indie Flower', cursive
	font-size 1.5em
.styleWords3
	color Green
	font-weight bold
	font-family 'Indie Flower', cursive
	font-size 1.5em
.styleWords4
	color LightBlue
	font-weight bold
	font-family 'Indie Flower', cursive
	font-size 1.5em
.styleWords5
	color MediumOrchid
	font-weight bold
	font-family 'Indie Flower', cursive
	font-size 1.5em
.styleWords6
	color PaleGreen
	font-weight bold
	font-family 'Indie Flower', cursive
	font-size 1.5em
.styleWords7
	color OrangeRed
	font-weight bold
	font-family 'Indie Flower', cursive
	font-size 1.5em
.styleWords8
	color Plum
	font-weight bold
	font-family 'Indie Flower', cursive
	font-size 1.5em
.styleWords9
	color SandyBrown
	font-weight bold
	font-family 'Indie Flower', cursive
	font-size 1.5em
.styleWords10
	color Purple
	font-weight bold
	font-family 'Indie Flower', cursive
	font-size 1.5em