.container 
	width 51%

h1 
	text-align center
	
#btnRow
	margin-bottom 10px

p 
	display inline

.style1
	color red
	font-weight bold
	font-family serif

.style2
	color white
	background-color blue
	font-style italic
	padding 4px

.style3
	color goldenrod
	text-decoration underline

.style4
	color blueviolet
	font-size 22px

.style5
	color chartreuse
	background-color darkgreen
	padding 4px